.infobox {
    float: right;
    clear: right;
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    line-height: 1.5em;
    width: 22em;
    font-size: 14px;
}

.infobox td, .infobox th {
    vertical-align: top;
    text-align: left;
}

.infobox img {
    width: 100%;
}

.infobox ul {
    list-style: none;
    padding-left: 0;
}